@charset "utf-8";

* {
	margin:0px;
	padding:0px;
}

h1 {
	font-size: 50px;
	font-family: Georgia, serif;
}

h3 {
	font-size: 30px;
	font-family: Georgia, serif;
}

header {
	background-color: #ff0000;
	width: 100%;
	height: 68px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	position : fixed;
	z-index: 2147483647;
}

.menu-btn {
	position: fixed;
	top: 10px;
	right: 10px;
	display: flex;
	height: 50px;
	width: 60px;
	justify-content: center;
	align-items: center;
	z-index: 90;
	background-color: #f00;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background-color: #ffffff;
	position: absolute;
}

.menu-btn span:before {
	bottom: 8px;
}

.menu-btn span:after {
	top: 8px;
}

#menu-btn-check {
	display: none;
}

#menu-btn-check:checked~.menu-btn span {
	background-color: rgba(255, 255, 255, 0);
	/*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
	bottom: 0;
	transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
	top: 0;
	transform: rotate(-45deg);
}

.menu-content {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 80;
	background-color: #f00;
}

.menu-content ul {
	padding: 70px 10px 0;
}

.menu-content ul li {
	border-bottom: solid 1px #ffffff;
	list-style: none;
}

.menu-content ul li a {
	display: block;
	width: 100%;
	font-size: 30px;
	box-sizing: border-box;
	color: #ffffff;
	text-decoration: none;
	padding: 9px 15px 10px 0;
	position: relative;
}

.menu-content ul li a::before {
	content: "";
	width: 7px;
	height: 7px;
	border-top: solid 2px #ffffff;
	border-right: solid 2px #ffffff;
	transform: rotate(45deg);
	position: absolute;
	right: 11px;
	top: 50%;
}

.menu-content {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 100%;
	/*leftの値を変更してメニューを画面外へ*/
	z-index: 80;
	background-color: #ff0000;
	transition: all 0.5s;
	/*アニメーション設定*/
}

#menu-btn-check:checked~.menu-content {
	left: 0;
	/*メニューを画面内へ*/
}


/*^------------------------------------------------------------*/


.search {
	width:90%;
	border: solid 1px #000;
	border-radius: 30px;
	background-color: #afeeee;
	box-shadow: 20px 20px 4px gray;
	width: 700px;
	height: 675px;
}

header .exit {
	font-size:20px;
    color: white;
    width: 100px;
    padding: 16px;
    margin-left: 0px;
	float:left;
}

header .exit :hover {
	background-color:aqua;
	transition-duration: 0.5s;
}

.header-list :hover {
	background-color: green;
	transition-duration: 0.5s;
}

a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

/*--------------------------------------------------------*/

.pagetop {
	cursor: pointer;
	position: fixed;
	right: 15px;
	bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 50px;
	border-radius: 15px;
	transition: .3s;
	color: #0003c4;
	background: rgb(222, 202, 245);
	
  /*   デフォルトは非表示 */
	opacity: 0;
  }
  .pagetop:hover {
	  box-shadow: 0 0 10px #00A6C4;
  }

/*--------------------------------------------------------*/

.space {
	height:100px;
}

.space-half {
	height:30px;
}